body {
    margin: 0;
    padding: 0;
}


.content {
    padding:opx;
    margin: 0;
    background-color: #2c3e50;
    height: 100px;
    display: flex;
    justify-content:space-around;
    border-bottom: 3px solid orange;

}
h1 span
{
color:orange;
}


li{

    margin: 20px;
    list-style-type: none;
    display: inline;
   
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:orange;
    font-weight: bold;

}
nav{
    margin-top: 15px;
}
.contain
{
    padding:opx;
    margin: 0;
    background-color: #2c3e50;
    height: 80px;
    display: flex;
    justify-content:space-around;
}
  .newsletter
  {
      margin-top: 20px;

  }
  section input[type="submit"]
  {
      border:none;
      width:22%;
      height:22px;
  }
  .banner{
      display:flex;
      justify-content: space-around;
      height:460px;
      padding-left:100px;
     
      
  }
  .lists
  {
    height:45px;
    width:50%;
    margin-left:80px;
  }
  
 .box1
  {
    margin:3px;
    border:1px solid grey;
    background-color: grey;
    
  }
  .box2
  {
    margin:3px;
    border:1px solid grey;
    background-color: grey;
    
  }
  .box3
  {
    margin:3px;
      border:1px solid grey;
      background-color: grey;
     
      margin-bottom:100px;
  }
      .cred
      {
        background-color: #2c3e50;
        height:230px;
        width:24%;
        margin-top:40px;
        padding:20px;
        color:white;
        margin-right:180px;
    
       
        
      }
      .cred input[type="text"]
      {
          width:100%;
      }
      .cred input[type="submit"]
      {
          color:white;
          background-color: orange;
          border:none;
          

      }

      
      
      

  footer{
    background-color: orange;
    height:50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom:10px;
}